.cls-1,
.cls-2 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke: #231815;
}

.cls-2 {
  stroke: #232339;
}

//* オープニングアニメーション *//
.svg-animation {
  display: none;
  padding: 17vw;
}

.pace-running {
  .superwrapper {
    opacity: 0;
    overflow: hidden;
  }
}

.pace-done {
  .svg-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: byeOpening 6s forwards;

    & .svg-inner {
      padding: 20px;

      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@keyframes byeOpening {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}